@{
    ViewBag.Title = "About";
    string sometext = "Test Text";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<td>WELCOME TO MY  PROGRAM</td>

<p>Use this area to provide additional information.</p>
<h5> @sometext</h5>