@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    samax Corp<br />
    Brossard, QC 9280<br />
    <abbr title="Phone">P:</abbr>
    438.934.5826
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:samax80@hotmail.com">samax80@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:samax80@hotmail.com">samax80@hotmail.com</a>
</address>